<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
		.activeClass{
			color: red;
		}
		textarea{
			width: 100%;
			height: 100px;
			resize: none;
		}
	</style>
</head>
<body>
	<div id="app">
		<button @click.once="changeTitle($event)">修改title</button>
		<my-title :titles.sync='title'></my-title>
		<textarea rows="" cols="" v-model="textareaValue" @input="textareaValueChange"></textarea>
		<select>
			<option v-for="item in data" :value ="item.id">{{item.name}}</option>
		</select>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			data(){
				return {
					title:'标题',
					textareaValue:'',
					myMsg:'我是父组件消息',
					data:[
						{id:1,name:'zhangsan'},
						{id:2,name:'zhangsan'},
						{id:3,name:'zhangsan'}
						
					]
				}
			},
			// render(h) {
			// 	return h(
			// 	   'p',
			// 	   {
			// 		   class:[
			// 			   'activeClass'
			// 		   ],
			// 		   on:{
			// 			   click:()=>{
			// 				   console.log('你好')
			// 			   }
			// 		   },
			// 		   props:{
			// 			   'myMsg':'myMsg'
			// 		   }
			// 	   },
			// 		'你好，'+this.myMsg
			// 	)
			// }
			methods:{
				changeTitle(event){
					console.log(event)
					this.title = 'new Title'
				},
				textareaValueChange(){
					console.log(this.textareaValue.split('\n'))
				}
			},
			components:{
				'myTitle':{
					template:`<div @click='changeTitle'>{{titles}}</div>`,
					props:{
						titles:{
							type:String,
							default:''
						},
						money:{
							type:Object,
							default(){
								return{
									size:100,
									numbers:5
								}
							}
						}
						
					},
					methods:{
						changeTitle(){
							this.$emit('update:titles','新标题')
						}
					}
					
				}
			}
		}).$mount('#app')
		console.log(vm)
		vm.$nextTick(()=>{
			console.log('更新')
		})
	</script>
</body>
</html>