<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			{{a}}
			{{b}}
			<ul>
				<li v-for="(item,index) in c" :key='index'>{{item}}-{{index}}</li>
			</ul>
			<ul>
				<li v-for="(value,key) in d" :key='key'>{{key}}-{{value}}</li>
			</ul>
			<button @click="add()">+</button>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				data() {
					return {
						a: 1,
						b: 2,
						c:[1,2,3],
						d:{
							name:'zhangsan',
							age:13
						}
					}
				},
				methods:{
					add:function (){
						this.b += 4;
					}
				}
			}).$mount('#app')
			
			vm.c[0] = 2
			
			vm.$set(vm.c,0,3)
			
			//vm.c.splice(2)
			setTimeout(()=>{
				vm.$set(vm.d,'sex','man')
				vm.$set(vm.d,'age',15)
			},1000)

		</script>
	</body>
</html>
